# dependencies
node_modules

# testing
*/coverage

# production
*/build

# linting
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sourcemaps
*.css.map
*.js.map

# JetBrains project files (contains local paths)
# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
.idea
